[project]
	description = A b9 interpreter written in b9
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Devin Nakamura (dnakamura)
[access "refs/for/refs/*"]
	read = group user/Devin Nakamura (dnakamura)
	push = group user/Devin Nakamura (dnakamura)
	label-Code-Review = -2..+2 group user/Devin Nakamura (dnakamura)
	label-Verified = -1..+1 group user/Devin Nakamura (dnakamura)
	rebase = group user/Devin Nakamura (dnakamura)
	removeReviewer = group user/Devin Nakamura (dnakamura)
	submit = group user/Devin Nakamura (dnakamura)
[access "refs/heads/*"]
	read = group user/Devin Nakamura (dnakamura)
	create = group user/Devin Nakamura (dnakamura)
	push = +force group user/Devin Nakamura (dnakamura)
	pushMerge = group user/Devin Nakamura (dnakamura)
[access "refs/tags/*"]
	push = group user/Devin Nakamura (dnakamura)
	push = +force group user/Devin Nakamura (dnakamura)
